/* Variables */
:root {
    --mprimary-color: #1b213e;
    --msecondary-color: #f54f1b;
    --mtertiary-color: #e6d5b7;
}

/* General Body Style */

body {
    margin: 0; 
    font-family: 'Inter', sans-serif;
    color: #e6d5b7;
    background: linear-gradient(135deg, #1E223D, #000318);
}

.hero,
.overview-section,
.projects-section {
    min-height: 100vh; 
    background-color: transparent;
}

html {
    scroll-behavior: smooth ;
}

body > footer {
    margin-top: auto;
}

.highlight-word {
    color: var(--msecondary-color);
}

.nav-logo a.highlight-word,
.nav-links a.highlight-word {
    color: var(--msecondary-color);
}

.arrow {
    border: solid var(--mtertiary-color);
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
  
}

/* Navigation Bar */

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2vw;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background-color: transparent;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.875rem;
    color: var(--mtertiary-color);
}

.nav-logo a,
.nav-links a {
    text-decoration: none;
    font-size: clamp(1.125rem, 1rem + 1vw, 1.875rem);
    color: var(--mtertiary-color);
}

/* Hero */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2.5rem;
}

.hero h1 {
    font-size: clamp(3rem, 10vw, 11.75rem);
    margin-bottom: 0.5px;
    white-space: nowrap;
}

.hero p {
    font-size: clamp(1.125rem, 1rem + 1vw, 1.875rem);
}

.hero .arrow{
    left: 40%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
}

.hero .arrow.hidden {
    opacity: 0;
    visibility: hidden;
}

.hero-content {
    transform:translateY(-20%);
}

/* Overview 

.overview-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9vw; 
}

.overview-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.overview-intro img{
    width: clamp(200px,16vw, 300px);
    height: clamp(200px,16vw, 300px);
    border-radius: 50%;
    object-fit: cover;
    background-color: #eee;
}

.overview-section .social {
    display: flex;
    gap: 10px;
}

.social-btn {
    display: inline-block;
    padding: 12px 1.25vw;

    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;

    border-radius: 8px;
    border: none;
    width: 4vw;
}

.social-btn.linkedin {
    background-color: #0A66C2;
}

.social-btn.github {
  background-color: #333;
}

.carousel-container {
    display: flex;
    align-items: center;
    gap: 2vw; 
}

.carousel {
    position: relative;
}

.carousel__item {
    border-radius: 5px;
    height: clamp( 400px ,75vh, 810px);
    width: clamp(600px, 45vw, 860px);
    background: var(--msecondary-color);
    padding: 1rem;
    color: var(--mprimary-color);
    display: none;
}

.carousel__item--selected {
    display: block;
}

.carousel__button {
    cursor: pointer;
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} */

/* Projects */

.projects-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 10px 4.2vw;
}

.project__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.project__panel {
    border-radius: 5px;
    height: clamp(645px, 65vh, 700px);
    width: clamp(300px, 18vw, 355px);
    background: var(--msecondary-color);
    padding: 1rem;
    color: #fff;
}

.projects-section img {
    width: 296px;
    height: 206px;
    border-radius: 5px;
}

.projects-section .social-icons a {
    color: var(--mtertiary-color);
    text-decoration: none;
    font-size: 1.8rem;
}

.projects-section .social-icons a:hover {
    color: var(--mprimary-color);
}

/* Footer */
.contact-section {
    padding: 30px 0;
    text-align: center;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.contact-section p{
    margin: 0;
}

.contact-section a{
    text-decoration: none;
    color: white; 
}

.copy-email {
 padding: 18px   
}

.contact-section .social-icons {
    margin-bottom: 20px;
}

.contact-section .social-icons a {
    color: var(--msecondary-color);
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0 15px;
}

.contact-section .social-icons a:hover {
    color: var(--mtertiary-color);
}